/Windows/CODE_BME/PROJECT_CYBER_SECURITY/DikeASCII_DATASET
/Windows/CODE_BME/PROJECT_CYBER_SECURITY/RESULT
/Teaching work/2025/เทอม_01/ENGCE306_Web Programming_การเขียนโปรแกรมบนเว็บ/05_WEEK/node_modules
/Teaching work/2025/เทอม_01/ENGCE306_Web Programming_การเขียนโปรแกรมบนเว็บ/05_WEEK/LAB05_01/node_modules
