/Windows/CODE_BME/PROJECT_CYBER_SECURITY/RESULT
/Windows/CODE_OTHER/0001-PROJECT_SPEECH_TO_TEXT/SPEECH_TO_TEXT/C++/whisper.cpp
/Windows/CODE_BME/PROJECT_MALARIA/malaria
/Windows/CODE_BME/PROJECT_MALARIA/DATA_SET
/Windows/CODE_BME/PROJECT_MALARIA/car-licenses-2.v2i.yolov8
/runs
/Windows/CODE_OTHER/0003-GUI/ESP32_TFT_LCD_TS_ILI9341_LVGL_DigitalClock_WeatherStation/ESP32 TFT LCD ILI9341 320x240 with LVGL and EEZ Studio - Digital Clock & Simple Weather Station
/Windows/CODE_BME/PROJECT_MALARIA/DATA_SET_2CLASS
/Windows/CODE_BME/PROJECT_MALARIA/results_images_2class
/Windows/CODE_BME/PROJECT_MALARIA/results_images_2class_abnormal_only
/Windows/CODE_BME/PROJECT_MALARIA/runs_fold_2class
/Windows/CODE_BME/PROJECT_CYBER_SECURITY/RESULT_01
