/Windows/CODE_BME/PROJECT_CYBER_SECURITY/RESULT
/Windows/CODE_OTHER/0001-PROJECT_SPEECH_TO_TEXT/SPEECH_TO_TEXT/C++/whisper.cpp
/Windows/CODE_BME/PROJECT_MALARIA/malaria
/Windows/CODE_BME/PROJECT_MALARIA/YOLO